.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Typescript build artifacts
.tsbuildinfo
*.tsbuildinfo

# NPM build artifacts
artefacts/*.tgz
!artefacts/*-dev.tgz

.idea