# Yarn artefacts
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/.pnp.cjs
/.pnp.loader.mjs

# Typescript build artifacts
.tsbuildinfo
*.tsbuildinfo

# NPM build artifacts
artefacts/*.tgz
!artefacts/*-dev.tgz

# IDE Configuration
.idea
.vscode