# Yarn artefacts
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/.pnp.cjs
/.pnp.loader.mjs

# Typescript build artifacts
.tsbuildinfo
*.tsbuildinfo

# NPM build artifacts
node_modules/
artefacts/*.tgz

# IDE/OS Artefacts
.idea
.vscode
.DS_Store

# Exclude local files
*.local