{
    "openapi": "3.0.4",
    "info": {
        "title": "Optimizely CMS Content API",
        "version": "preview3"
    },
    "servers": [
        {
            "url": "https://api.cms.optimizely.com/preview3",
            "description": "Optimizely CMS API"
        }
    ],
    "paths": {
        "/experimental/blueprints": {
            "get": {
                "tags": [
                    "Blueprints"
                ],
                "summary": "List blueprints",
                "description": "List blueprints using the provided parameters. This API is experimental and may change in future releases.",
                "operationId": "Blueprints_List",
                "parameters": [
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlueprintPage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Blueprints"
                ],
                "summary": "Create a blueprint",
                "description": "Create a new blueprint. This API is experimental and may change in future releases.",
                "operationId": "Blueprints_Create",
                "requestBody": {
                    "description": "The blueprint that should be created.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Blueprint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {
                            "ETag": {
                                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Last-Modified": {
                                "description": "The date and time at which the resource was last modified.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Blueprint"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/blueprints/{key}": {
            "get": {
                "tags": [
                    "Blueprints"
                ],
                "summary": "Get a specific blueprint",
                "description": "Get the blueprint with the provided key. This API is experimental and may change in future releases.",
                "operationId": "Blueprints_Get",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the blueprint to retrieve.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "If-None-Match",
                        "in": "header",
                        "description": "If provided and the value matches the RFC7232 ETag of the current resource a 304 NotModified response will be returned. Weak ETags will always be ignored.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "If-Modified-Since",
                        "in": "header",
                        "description": "If provided and the resource has not been modified since the date a 304 NotModified response will be returned. This parameter will be ignored if an 'If-None-Match' parameter is also provided.",
                        "schema": {
                            "type": "string",
                            "format": "http-date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "ETag": {
                                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Last-Modified": {
                                "description": "The date and time at which the resource was last modified.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Blueprint"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Not Modified",
                        "headers": {
                            "ETag": {
                                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Last-Modified": {
                                "description": "The date and time at which the resource was last modified.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Blueprints"
                ],
                "summary": "Patch blueprint",
                "description": "Patch an existing blueprint. This API is experimental and may change in future releases.",
                "operationId": "Blueprints_Patch",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the blueprint to patch.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "If provided, the PATCH request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "If-Unmodified-Since",
                        "in": "header",
                        "description": "If provided, the PATCH request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
                        "schema": {
                            "type": "string",
                            "format": "http-date"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The values of the blueprint that should be patched formatted according to RFC7396.",
                    "content": {
                        "application/merge-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/Blueprint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "ETag": {
                                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Last-Modified": {
                                "description": "The date and time at which the resource was last modified.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Blueprint"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Blueprints"
                ],
                "summary": "Delete a blueprint",
                "description": "Deletes the blueprint with the provided key. This API is experimental and may change in future releases.",
                "operationId": "Blueprints_Delete",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the blueprint to delete.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "If provided, the DELETE request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "If-Unmodified-Since",
                        "in": "header",
                        "description": "If provided, the DELETE request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
                        "schema": {
                            "type": "string",
                            "format": "http-date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Blueprint"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/changesets": {
            "get": {
                "tags": [
                    "Changesets"
                ],
                "summary": "List changeset",
                "description": "Lists all changeset using the provided options. This API is experimental and may change in future releases.",
                "operationId": "Changesets_List",
                "parameters": [
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "Indicates which sources should be included when listing changesets.\r\nUse Default to include changesets without a specific sources.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChangesetPage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Changesets"
                ],
                "summary": "Create changeset",
                "description": "Creates a new changeset. This API is experimental and may change in future releases.",
                "operationId": "Changesets_Create",
                "requestBody": {
                    "description": "The changeset that should be created.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Changeset"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {
                            "ETag": {
                                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Last-Modified": {
                                "description": "The date and time at which the resource was last modified.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Changeset"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/changesets/{key}": {
            "get": {
                "tags": [
                    "Changesets"
                ],
                "summary": "Get changeset",
                "description": "Gets the changeset with the provided key. This API is experimental and may change in future releases.",
                "operationId": "Changesets_Get",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the changeset to retrieve.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "If-None-Match",
                        "in": "header",
                        "description": "If provided and the value matches the RFC7232 ETag of the current resource a 304 NotModified response will be returned. Weak ETags will always be ignored.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "If-Modified-Since",
                        "in": "header",
                        "description": "If provided and the resource has not been modified since the date a 304 NotModified response will be returned. This parameter will be ignored if an 'If-None-Match' parameter is also provided.",
                        "schema": {
                            "type": "string",
                            "format": "http-date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "ETag": {
                                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Last-Modified": {
                                "description": "The date and time at which the resource was last modified.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Changeset"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Not Modified",
                        "headers": {
                            "ETag": {
                                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Last-Modified": {
                                "description": "The date and time at which the resource was last modified.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Changesets"
                ],
                "summary": "Delete changeset",
                "description": "Deletes the changeset with the provided key. If a changeset with the provided key does not exist an error is returned. This API is experimental and may change in future releases.",
                "operationId": "Changesets_Delete",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the changeset to delete.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Changeset"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Changesets"
                ],
                "summary": "Patch changeset",
                "description": "Patch an existing changeset. This API is experimental and may change in future releases.",
                "operationId": "Changesets_Patch",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the changeset to patch.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The values of the changeset that should be patched formatted according to RFC7396.",
                    "content": {
                        "application/merge-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/Changeset"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "ETag": {
                                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Last-Modified": {
                                "description": "The date and time at which the resource was last modified.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Changeset"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/changesets/{changeset}/items/{key}/versions/{version}": {
            "get": {
                "tags": [
                    "Changesets"
                ],
                "summary": "Get changeset item",
                "description": "Gets the changeset item for the specified content reference. This API is experimental and may change in future releases.",
                "operationId": "Changesets_GetItem",
                "parameters": [
                    {
                        "name": "changeset",
                        "in": "path",
                        "description": "The changeset key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The content key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "The content version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChangesetItem"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Changesets"
                ],
                "summary": "Patch changeset item",
                "description": "Patch the given changeset item. This API is experimental and may change in future releases.",
                "operationId": "Changesets_PatchItem",
                "parameters": [
                    {
                        "name": "changeset",
                        "in": "path",
                        "description": "The changeset key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The content key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "The content version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The values of the changeset item that should be patched formatted according to RFC7396.",
                    "content": {
                        "application/merge-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChangesetItem"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChangesetItem"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Changesets"
                ],
                "summary": "Delete changeset item",
                "description": "Deletes the specified changeset item from the changeset. This API is experimental and may change in future releases.",
                "operationId": "Changesets_DeleteItem",
                "parameters": [
                    {
                        "name": "changeset",
                        "in": "path",
                        "description": "The changeset key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The content key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "The content version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChangesetItem"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/changesets/{changeset}/items": {
            "get": {
                "tags": [
                    "Changesets"
                ],
                "summary": "List changeset items",
                "description": "Lists the available changeset items for the specified changeset using\r\nthe provided options. This API is experimental and may change in future releases.",
                "operationId": "Changesets_ListItems",
                "parameters": [
                    {
                        "name": "changeset",
                        "in": "path",
                        "description": "The changeset key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChangesetItemPage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Changesets"
                ],
                "summary": "Create changeset item",
                "description": "Creates the given changeset item. This API is experimental and may change in future releases.",
                "operationId": "Changesets_CreateItem",
                "parameters": [
                    {
                        "name": "changeset",
                        "in": "path",
                        "description": "The changeset key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The changeset item",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChangesetItem"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChangesetItem"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/content": {
            "post": {
                "tags": [
                    "Content"
                ],
                "summary": "Create content",
                "description": "Create a new content item. This API is experimental and may change in future releases.",
                "operationId": "Content_Create",
                "parameters": [
                    {
                        "name": "cms-skip-validation",
                        "in": "header",
                        "description": "Indicates that the content validation should be ignored.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The content item that should be created.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContentItem"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentItem"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/content/{key}": {
            "get": {
                "tags": [
                    "Content"
                ],
                "summary": "Get content",
                "description": "Get shared metadata about the content instance with the provided key. This API is experimental and may change in future releases.",
                "operationId": "Content_GetMetadata",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the content to retrieve metadata for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "allowDeleted",
                        "in": "query",
                        "description": "Indicates that metadata for a deleted content may be returned.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentMetadata"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Content"
                ],
                "summary": "Patch content",
                "description": "Patch an existing content item. If a content item with the provided key does not exist an error is returned. This API is experimental and may change in future releases.",
                "operationId": "Content_PatchMetadata",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the content item to patch.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The values of the content item that should be patched.",
                    "content": {
                        "application/merge-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContentMetadata"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentMetadata"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Content"
                ],
                "summary": "Delete content",
                "description": "Deletes the content item with the provided key. If a content item with the provided key does not exist an error is returned. This API is experimental and may change in future releases.",
                "operationId": "Content_Delete",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the content item to delete.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cms-permanent-delete",
                        "in": "header",
                        "description": "Indicates that the content item should be permanently deleted immediately or if it should be soft deleted first.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentMetadata"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/content/{key}/path": {
            "get": {
                "tags": [
                    "Content"
                ],
                "summary": "Get content path",
                "description": "Get the content path with the provided key. This API is experimental and may change in future releases.",
                "operationId": "Content_GetPath",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the content path to retrieve.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentMetadataPage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/content/{key}/items": {
            "get": {
                "tags": [
                    "Content"
                ],
                "summary": "List content in container",
                "description": "List the content items located in a specific container. This API is experimental and may change in future releases.",
                "operationId": "Content_ListItems",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the content to retrieve items for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contentTypes",
                        "in": "query",
                        "description": "Indicates which content types or base types to include in the list.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentMetadataPage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/content/{key}/assets": {
            "get": {
                "tags": [
                    "Content"
                ],
                "summary": "List assets",
                "description": "List the assets that belongs to a content instance. This API is experimental and may change in future releases.",
                "operationId": "Content_ListAssets",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the content to retrieve assets for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contentTypes",
                        "in": "query",
                        "description": "Indicates which content types or base types to include in the list.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentMetadataPage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/content/{key}:copy": {
            "post": {
                "tags": [
                    "Content"
                ],
                "summary": "Copy content",
                "description": "Create a copy of the content item with the provided key. This API is experimental and may change in future releases.",
                "operationId": "Content_Copy",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the content item to copy.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Optional instructions for how to copy content.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CopyContentOptions"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentMetadata"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/content/{key}:undelete": {
            "post": {
                "tags": [
                    "Content"
                ],
                "summary": "Restore content",
                "description": "Restore the deleted content item with the provided key. If a content item with the provided key is not deleted an error is returned. This API is experimental and may change in future releases.",
                "operationId": "Content_Undelete",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the content item to undelete.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentMetadata"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/content/versions": {
            "get": {
                "tags": [
                    "Content"
                ],
                "summary": "Query versions",
                "description": "List content versions based on the provided query options. This API is experimental and may change in future releases.",
                "operationId": "Content_ListAllVersions",
                "parameters": [
                    {
                        "name": "locales",
                        "in": "query",
                        "description": "Indicates which content locales that should be listed. Use 'NEUTRAL' to include locale-neutral content.\r\nLocale must be a valid IETF BCP-47 language tag.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "statuses",
                        "in": "query",
                        "description": "Indicates which status content versions must have to be listed.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "draft",
                                    "ready",
                                    "published",
                                    "previous",
                                    "scheduled",
                                    "rejected",
                                    "inReview"
                                ],
                                "type": "string",
                                "description": "Represent the different status values of a content version."
                            }
                        }
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentItemPage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/content/{key}/versions": {
            "get": {
                "tags": [
                    "Content"
                ],
                "summary": "List versions",
                "description": "List versions of the content item with the provided key and the provided options. This API is experimental and may change in future releases.",
                "operationId": "Content_ListVersions",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locales",
                        "in": "query",
                        "description": "Indicates which content locales that should be listed. Use 'NEUTRAL' to include locale-neutral content.\r\nLocale must be a valid IETF BCP-47 language tag.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "statuses",
                        "in": "query",
                        "description": "Indicates which status content versions must have to be listed.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "draft",
                                    "ready",
                                    "published",
                                    "previous",
                                    "scheduled",
                                    "rejected",
                                    "inReview"
                                ],
                                "type": "string",
                                "description": "Represent the different status values of a content version."
                            }
                        }
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "maximum": 10000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentItemPage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Content"
                ],
                "summary": "Create version",
                "description": "Create a new version of a content item. This API is experimental and may change in future releases.",
                "operationId": "Content_CreateVersion",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the content item for which a new content version should be created.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cms-skip-validation",
                        "in": "header",
                        "description": "Indicates that the content validation should be ignored.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The content version that should be created.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContentItem"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentItem"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Content"
                ],
                "summary": "Delete locale",
                "description": "Deletes the content item with the provided key. If a content item with the provided key does not exist an error is returned. This API is experimental and may change in future releases.",
                "operationId": "Content_DeleteLocale",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentItem"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experimental/content/{key}/versions/{version}": {
            "get": {
                "tags": [
                    "Content"
                ],
                "summary": "Get version",
                "description": "Get the content item with the provided key and version. This API is experimental and may change in future releases.",
                "operationId": "Content_GetVersion",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "If-None-Match",
                        "in": "header",
                        "description": "If provided and the value matches the RFC7232 ETag of the current resource a 304 NotModified response will be returned. Weak ETags will always be ignored.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "If-Modified-Since",
                        "in": "header",
                        "description": "If provided and the resource has not been modified since the date a 304 NotModified response will be returned. This parameter will be ignored if an 'If-None-Match' parameter is also provided.",
                        "schema": {
                            "type": "string",
                            "format": "http-date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "ETag": {
                                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Last-Modified": {
                                "description": "The date and time at which the resource was last modified.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentItem"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Not Modified",
                        "headers": {
                            "ETag": {
                                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Last-Modified": {
                                "description": "The date and time at which the resource was last modified.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Content"
                ],
                "summary": "Patch version",
                "description": "Patch an existing content item. If a content item with the provided key does not exist an error is returned. This API is experimental and may change in future releases.",
                "operationId": "Content_PatchVersion",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the content item that should be patched.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "The version of the content that should be patched.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "The locale of the content that should be patched.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cms-skip-validation",
                        "in": "header",
                        "description": "Indicates that the content validation should be ignored.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The content information that should be patched.",
                    "content": {
                        "application/merge-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContentItem"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentItem"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
[...]
